/* GLOBAL STYLES
 -------------------------------------------------- */
/* Padding below the footer and lighter body text */


body {
    padding-bottom: 40px;
    color: #5a5a5a;
	line-height: 1.5;	
	font-family: Arial;
	font-size: 15px;	
}

/* CUSTOMIZE THE NAVBAR
 -------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0;
}

.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
}

.centerer {
  position: absolute;
  top: 30%;
  left: 30%;   
  transform: translate(-30%, -30%);
}



/* IMAGE THUMBNAILS
 -------------------------------------------------- */

.img-thumbnail2{display:inline-block;padding:1px;background-color:black;border:1px;width:200px;margin-bottom:15px;margin-right:50px}
.mythumbnail2{display:inline-block;padding:1px;background-color:black;border:1px;width:200px;margin-bottom:15px;margin-right:50px}
.mythumbnail2>img{width:198px}

.mythumbnail{display:block;width:100px;padding:4px;margin-bottom:20px;line-height:1.42857143;background-color:#fff;border:1px solid #ddd;border-radius:4px;-webkit-transition:border .2s ease-in-out;-o-transition:border .2s ease-in-out;transition:border .2s ease-in-out}
.mythumbnail>img{width:90px},.mythumbnail a>img{margin-right:auto;margin-left:auto}a.mythumbnail:hover,a.mythumbnail:focus,a.mythumbnail.active{border-color:#428bca}


.carousel {
    margin-bottom: -20px;
	top: 30px;		
}

.carousel .item {
    background-color: #777;
    text-align: center;
	font-family: Verdana;
}
.carousel-inner{
	position:relative;
	overflow:hidden
}

.carousel-inner > .item > img {	
    margin: 0 auto;
	
}
.carousel-indicators { bottom: -10px;}

